.overLord {
  @include outer-container;
  margin-top: 1%;
  padding: 2%;
  h1 {
    text-align: center;
  }
}
header {
  margin: 0;
  position: relative;
  background-color: $black;

  video {
    margin-bottom: -6px;
    opacity: .7;
    width: 100%;
  }
  h1 {
    @include fontBasics("UrbanJungle", $color:white, $font-size: 10em);
    @include position(absolute, $width: 100%, $bottom: 32%);
    @extend %textCenter;
    @media (max-width: 650px) {
      font-size: 3em;
    }

  }
  p {
    @include fontBasics("UrbanJungle", $color:white, $font-size: 2.6em);
    @include position(absolute, $width: 100%, $bottom: 32%);
    @extend %textCenter;
    @media (max-width: 650px) {
      display: none;
    }
  }
}
.column1 {
  @include span-columns(9);
  @include omega();
  position: relative;

}
.column2 {
  @include span-columns(3);
  @extend %soBubble;
  margin-top: 11.5%;
  border: 1px solid black;
  padding: 2%;
  border-radius: 2em;
  text-align: center;
  li {
    list-style: none;
  }
}
.userProfiles {

  img {
    height: 10vh;
  }
}
.results {
  @extend %soBubble;
  display: none;
  padding: 5%;
  float: left;
  .key {
    font-weight: bold;
  }
  .title {
    font-size: 1.3em;
    color: orange;
    text-shadow: 1px 1px 2px $black;
  }
}
